<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div>
        <a href="index.html" title="{{site}}">
            <img src="../assets/img/logo.png" style="height:60px" alt="{{site}}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html" title="Naslovna">Naslovna</a>
            </li>
        </ul>
    </div>
</nav>
